.watermellon-gradient{
  background: linear-gradient(89.39deg, rgba(237, 35, 48, 0.95) 23.58%, #F37521 133.24%);
}

.green-gradient{
  background: linear-gradient(89.39deg, #6FBD44 23.58%, #01C2F3 133.24%);
}

.btn{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
border-radius: 5px;
padding-top: 16px;
padding-bottom: 16px;

}

.inputfield{
  background: #FFFFFF;
  /* Drop SHadow List */
  
  box-shadow: 0px 2px 4px rgba(128, 139, 150, 0.25);
  border-radius: 5px;
}

.CustomPaper{


  padding:20px;
  background: #FFFFFF;
/* Background EX */
border: 2px solid #E0E4E9;
box-sizing: border-box;
/* Drop SHadow List */
box-shadow: 0px 2px 4px rgba(128, 139, 150, 0.25);
}